__pycache__/
.ipynb_checkpoints/
*.pyc
*.pkl
*.pt
venv/
celeba/
MNIST/

# IMDB dataset (folder + compressed file)
aclImdb
aclImdb_v1.tar.gz

#Mysterious Island.txt
MysteriousIsland.txt

# IMDB dataset (BERT finetunning)
movie_data.csv
movie_data.csv.gz

